# Copyright (c) 2023-2024 Qualcomm Innovation Center, Inc. All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause-Clear


import /system_ext/etc/init/init_open_dice_from_file.rc
import /system/etc/init/init.sdv_core_base.rc
import /vendor/etc/init/android.hardware.boot-service.qti.rc
import /system_ext/etc/init/automs_vlan.rc
import /vendor/etc/init/android.hardware.security.keymint-service.rc

on fs
    write /dev/kmsg "boot_kpi: M - INITRC on fs trigger"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC on fs trigger"
    exec u:r:vendor_modprobe:s0 -- vendor/bin/modprobe -a -d /vendor_dlkm/lib/modules/ virtio_net
    exec u:r:vendor_modprobe:s0 -- vendor/bin/modprobe -a -d /vendor_dlkm/lib/modules/ stub_dlkm
    exec u:r:vendor_modprobe:s0 -- vendor/bin/modprobe -a -d /vendor_dlkm/lib/modules/ machine_dlkm
    write /dev/kmsg "boot_kpi: M - INITRC IP Configuration Start"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC IP Configuration Start"
    exec - root root -- /system/bin/ifconfig eth0 192.168.1.2 netmask 255.255.255.0
    exec - root root -- /system/bin/ifconfig eth0 up
    exec - root root -- /system/bin/ip rule add from all lookup main
    # bring up vlan interface
    write /dev/kmsg "boot_kpi: M - INITRC VLAN Interface Setup Start"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC VLAN Interface Setup Start"
    setprop service.sc.create.vlan 1
    setprop service.adb.tcp.port 5555
    setprop service.adb.listen_addrs tcp:5555
    start adbd
    mkdir /dev/socket/agm 0777 system system

on early-fs
    write /dev/kmsg "boot_kpi: M - INITRC on early fs trigger"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC on early fs trigger"
    # load kernel modules
    write /dev/kmsg "boot_kpi: M - INITRC gki.modprobe start"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC gki.modprobe start"
    exec_start gki.modprobe
    write /dev/kmsg "boot_kpi: M - INITRC gki.modprobe end"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC gki.modprobe end"
    write /dev/kmsg "boot_kpi: M - INITRC vendor.modprobe start"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC vendor.modprobe start"
    exec_start vendor.modprobe
    write /dev/kmsg "boot_kpi: M - INITRC vendor.modprobe end"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC vendor.modprobe end"

# Updating the symlinks for the new CDC-partitions
on early-fs && property:ro.product.name=gen4_gvm_cdcsdv
    symlink /dev/block/asset_0              /dev/block/by-name/asset_0
    symlink /dev/block/asset_1              /dev/block/by-name/asset_1
    symlink /dev/block/vvmtruststore        /dev/block/by-name/vvmtruststore
    symlink /dev/block/update               /dev/block/by-name/update
    symlink /dev/block/persist-alliance_b   /dev/block/by-name/persist-alliance_b
    symlink /dev/block/oem_a                /dev/block/by-name/oem_a
    symlink /dev/block/oem_b                /dev/block/by-name/oem_b
    symlink /dev/block/oem_map              /dev/block/by-name/oem_map
    symlink /dev/block/oem0                 /dev/block/by-name/oem0
    symlink /dev/block/oem1                 /dev/block/by-name/oem1
    symlink /dev/block/oemfactorystate      /dev/block/by-name/oemfactorystate
    symlink /dev/block/factory              /dev/block/by-name/factory
    symlink /dev/block/oem_data             /dev/block/by-name/oem_data
    symlink /dev/block/confcal_0            /dev/block/by-name/confcal_0
    symlink /dev/block/confcal_1            /dev/block/by-name/confcal_1
    symlink /dev/block/persist-alliance_a   /dev/block/by-name/persist-alliance_a


service gki.modprobe /vendor/bin/system_dlkm_modprobe.sh
    class main
    user root
    group root system
    disabled
    stdio_to_kmsg
    seclabel u:r:vendor_modprobe:s0
    oneshot

service vendor.modprobe /vendor/bin/vendor_modprobe.sh
    class main
    user root
    group root system
    oneshot
    disabled
    stdio_to_kmsg
    seclabel u:r:vendor_modprobe:s0
    import service_dlkm
    on service_dlkm_started

service vendor.agm-1-0 /vendor/bin/hw/vendor.qti.hardware.AGMIPC@1.0-service
    class core
    user system
    interface vendor.qti.hardware.AGMIPC@1.0::IAGM default
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group system audio media mediadrm oem_2901 wakelock
    capabilities BLOCK_SUSPEND SYS_NICE
    disabled

service console_qc /system/bin/sh
    class core
    console
    disabled
    user shell
    group shell log readproc
    seclabel u:r:shell:s0
    setenv HOSTNAME console

on init
    write /dev/kmsg "boot_kpi: M - INITRC on init trigger"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC on init trigger"
    start console_qc
    exec u:r:vendor_init-qti-AGMIPC-sh:s0 -- /vendor/bin/init.qti.AGMIPC.sh

on property:dev.bootcomplete=1 && property:ro.boot.vsock_local_cid=*
    write /dev/kmsg "boot_kpi: M - INITRC on boot complete trigger"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC on boot complete trigger"
    start sdv_someip_broker_agent

# Declare and start the SDV SOME/IP stack agent.
service sdv_someip_stack_agent /vendor/bin/qc_sdv_someip_stack_agent
    class core
    disabled
    user system
    group system
    setenv VSOMEIP_CONFIGURATION_vsomeip_vlan1500 /vendor/etc/someip/vsomeip_vlan1500.json
    setenv VSOMEIP_CONFIGURATION_vsomeip_vlan1510 /vendor/etc/someip/vsomeip_vlan1510.json

on property:dev.bootcomplete=1 && property:ro.boot.vsock_local_cid=*
    write /dev/kmsg "boot_kpi: M - INITRC on SOME/IP Stack Agent trigger"
    write /sys/kernel/boot_kpi/kpi_values "M - INITRC on SOME/IP Stack Agent trigger"
    mkdir /data/vendor/someip 0770 system system
    start sdv_someip_stack_agent

on early-init && property:ro.build.type=userdebug
    # Create tmpfs for use by the shell user.
    mount tmpfs tmpfs /tmp nosuid nodev rw
    restorecon /tmp
    chown shell shell /tmp
    chmod 0771 /tmp
